.link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 500;
  color: #2a363b;
  font-size: 18px;
}

.link:hover {
  text-decoration: underline;
}

.activeLink {
  composes: link;
  color: #c72b67;
}

.basketLabel {
  font-size: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 15px;
  width: 15px;
  position: absolute;
  right: 0px;
  top: 5px;
  background-color: rgb(42, 44, 167);
  color: #fff;
  border-radius: 50%;
  text-align: center;
}
