.productName {
  margin: 0;
  font-size: 20px;
}

.productCost {
  font-size: 16px;
  font-weight: bold;
  color: #0077d6;
}

.basketItem {
  position: relative;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  border-radius: 10px;
  width: 200px;
  box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.05);
}

.boughtAmount {
  font-size: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 35px;
  width: 35px;
  position: absolute;
  right: 10px;
  top: 0px;
  background-color: rgb(42, 44, 167);
  color: #fff;
  border-radius: 50%;
  text-align: center;
}

.productImage {
  object-fit: cover;
  height: 150px;
}

.productButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #f3518e;
  border: 0;
  outline: 0;
  padding: 8px 24px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.05);
  font: inherit;
  font-weight: 500;
  user-select: none;
  transition: background-color 200ms ease-in-out;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  width: calc(100% - 16px);
}

.productButton:hover {
  box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.15);
  background-color: #ea1568;
}

.button__icon {
  margin-right: 8px;
}
